/**
 * WP Admin Content
 */
#wpcontent {
    padding-left: 0;
    background-color: #f1f1f1;
}


/**
 * Navigation Bar
 */
.navbar {
    width: 100%;
    background-color: #fff;
    position: fixed;
}

.navbar .navbar-brand {
    color: #555;
}

.navbar .navbar-brand img {
    width: 40px;
    height: 40px;
}

#new-form-modal .modal-header {
    color: #fff;
    background-color: #a3be5f;
}


/**
 * New Form Modal
 */
#new-form-modal .form-template {
    width: 175px;
    height: 200px;
    padding: 0 8px;
    border-radius: 3px;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
}

#new-form-modal .unselected {
    color: #555;
    border: 3px dashed #d1d1d1;
}

#new-form-modal .unselected:hover {
    background-color: #f1f1f1;
    border-color: #a3be5f;
}

#new-form-modal .selected {
    color: #fff;
    background-color: #a3be5f;
}

#new-form-modal .selected-input-name {
    width: 160px;
    margin: 10px 0 40px;
}

#new-form-modal .selected-btn {
    color: #a3be5f;
    background-color: #fff;
    width: 160px;
    margin-bottom: 10px;
}

#new-form-modal .selected-btn:hover {
    background-color: #efefef;
}


/**
 * Home Page
 */
.home-main {
    min-height: 80vh;
    padding: 75px 15px 0;
}

.home-main div {
    width: 600px;
    height: 90px;
}
